*.egg-info
*.pot
*.py[co]
*.log
.tox/
__pycache__
airteam_worker.pid
MANIFEST
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*.DS_Store
*.sqlite3
htmlenv/
media/
.coverage
cover/
tests/htmlcov/
log/
env/
htmlcov/
.vscode/
files/
.pytest_cache/
.idea/
.env/
.env
XDG_CACHE_HOME/
*.ignore
example of files needed to generate report/
airteam/static/dist/*
webpack-stats-prod.json
webpack-stats.json
yarn.lock